@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

.hero {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #1a0656, #120246);
    color: #fff;
    display: grid;
    place-items: center;
}

.container {
    width: 60vh;
    height: 25vh;
    display: grid;
    place-items: center;
}

.clock {
    width: 35vw;
    height: 20vh;
    background-color: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock span {
    font-size: 60px;
    width: 20vw;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after {
    font-size: 16px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

#hrs::after {
    content: "HOURS";
}

#min::after {
    content: "MINS";
}

#sec::after {
    content: "SEC";
}